.Dish {
  height: 400px;
  pointer-events: none;
  align-items: center;
  justify-content: space-evenly;
  border: solid 2px lightgrey;
  background-color: wheat;
  transition: 0.2s;
  box-shadow: 1px 1px 1px 1px grey;
}

.DishDark {
  height: 400px;
  pointer-events: none;
  align-items: center;
  justify-content: space-evenly;
  border: solid 2px rgb(255, 240, 211);
  background-color: rgb(24, 24, 24);
  transition: 0.2s;
}

.Dish:hover {
  border: solid 2px grey;
}

.DishDark:hover {
  border: solid 2px rgb(255, 210, 128);
}

.Dish:active > .DishSeperator {
  color: rgb(226, 176, 84);
  transition: none;
}

.Dish:active {
  border: solid 2px black;
  background-color: rgb(231, 201, 145);
  transition: none;
}

.DishDark:active {
  border: solid 2px orange;
  background-color: rgb(77, 77, 77);
  transition: none;
}

.DishName {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  pointer-events: auto;
  text-shadow: 1px 1px lightgrey;
}

.DishName:hover {
  background-color: rgb(231, 201, 145);
}

.DishName:active {
  background-color: rgb(226, 176, 84);
  transition: none;
}

.DishSeperator {
  color: rgb(231, 201, 145);
  transition: 0.2s;
}

.DishCategory {
  text-shadow: 1px 1px lightgrey;
}

.DishIngredients {
  text-shadow: 1px 1px lightgrey;
}

.DishPrice {
  text-shadow: 1px 1px lightgrey;
  font-size: 1.5em;
}
