* {
  box-sizing: border-box;
}

html,
body {
  background-color: whitesmoke;
}

div {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
}

hr {
  width: 100%;
}

.RestaurantName {
  align-items: center;
}

.MenuTitle {
  align-items: center;
}

.Menu {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 2px;
  width: 100%;
}

.Dish {
  pointer-events: none;
  align-items: center;
  border: solid 2px transparent;
  padding: 1px;
  margin: 1px;
  background-color: wheat;
  transition: 0.2s;
}

.Dish:hover {
  border: solid 2px black;
}

.DishName {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  pointer-events: auto;
}

.DishName:hover {
  background-color: rgb(231, 201, 145);
}

.DishName:active {
  background-color: rgb(226, 176, 84);
  transition: none;
}

.FooterDiv {
  align-items: center;
}

@media only screen and (max-width: 1180px) {
  .Menu {
    display: grid;
    grid-template-columns: 33.2% 33.2% 33.2%;
    width: 100%;
  }
}

@media only screen and (max-width: 820px) {
  .Menu {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .Menu {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }
}
