* {
  box-sizing: border-box;
}

*::selection {
  color: wheat;
  background-color: brown;
}

html,
body {
  background-color: whitesmoke;
  overflow-x: hidden;
  margin: 0px;
}

div {
  margin: 2px;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
}

p {
  font-size: 1.2em;
}

hr {
  width: 100%;
}
